# Traitement des données STOC-EPS Auvergne

In [4]:
import sys
sys.version

'3.5.2 |Anaconda custom (64-bit)| (default, Jul  5 2016, 11:41:13) [MSC v.1900 64 bit (AMD64)]'

In [5]:
import pandas as pd
import numpy as np

In [7]:
dfToutBrut = pd.read_csv('STOC-Auvergne-2015-utf8.csv', parse_dates=['Date'], infer_datetime_format=True, 
                              low_memory=False, index_col=0, sep='\t', decimal='.', encoding='utf-8', skiprows=1)

In [11]:
dfToutBrut.columns

Index(['ID Espèce Biolovision', 'Nom espèce', 'Nom latin',
       'Groupe taxonomique', 'Famille', 'Ordre systématique', 'Date', 'Jour',
       'Mois', 'Année', 'Jour de l'année', 'Pentade', 'Décade',
       'numéro de la semaine', 'Heure début', 'Heure de début',
       'Minute de début', 'Heure fin', 'Heure de fin', 'Minute de fin',
       'Liste complète ?', 'Horaire', 'ID Lieu-dit', 'Lieu-dit', 'Commune',
       'Département', 'Pays', 'Code INSEE', 'X Lambert IIe [m]',
       'Y Lambert IIe [m]', 'X Lambert93 [m]', 'Y Lambert93 [m]',
       'Lat (WGS84)', 'Lon (WGS84)', 'latitude (DMS)', 'longitude (DMS)',
       'fuseau UTM Nord', 'UTM X [m]', 'UTM Y [m]', 'Type de localisation',
       'Altitude', 'Maille', 'Estimation', 'Nombre', 'Détails', 'Code atlas',
       'Protégée', 'Vérification', 'Comportement', 'CHN', 'CHR',
       'SEARCH_EXPORT_SPECIES_SHEET_DIR_OISEAUX', 'Protection nationale',
       'SEARCH_EXPORT_SPECIES_SHEET_DIR_HABITAT',
       'SEARCH_EXPORT_SPECIES_SHEET_UICN',
       'SEARCH_EXPORT_SPECIES_SHEET_LR_NAT',
       'SEARCH_EXPORT_SPECIES_SHEET_ZNIEFF', 'Prénom', 'Nom',
       'Abréviation personne morale', 'Personne morale', 'Prénom transmetteur',
       'Nom transmetteur', 'SEARCH_EXPORT_ENTITY_TRA_FULL_NAME',
       'Donnée de seconde main', 'Remarque', 'Remarque privée', 'Commentaire',
       'Date d'insertion', 'Date de dernière modification', 'Code étude',
       'Protocole', 'Numéro du passage', 'Numéro du point',
       'Habitat principal 1', 'Habitat principal 2', 'Habitat principal 3a',
       'Habitat principal 3b', 'Habitat principal 4a', 'Habitat principal 4b',
       'Habitat secondaire 1', 'Habitat secondaire 2', 'Habitat secondaire 3a',
       'Habitat secondaire 3b', 'Habitat secondaire 4a',
       'Habitat secondaire 4b', 'Visibilité', 'Couverture nuageuse', 'Vent',
       'Pluie', 'Neige', 'Moyen de transport',
       'Contient des détails mortalité'],
      dtype='object')

In [12]:
dfToutBrut.head()

,ID Espèce Biolovision,Nom espèce,Nom latin,Groupe taxonomique,Famille,Ordre systématique,Date,Jour,Mois,Année,...,Habitat secondaire 3b,Habitat secondaire 4a,Habitat secondaire 4b,Visibilité,Couverture nuageuse,Vent,Pluie,Neige,Moyen de transport,Contient des détails mortalité
Ref,,,,,,,,,,,,,,,,,,,,,
2403178,518,Pinson des arbres,Fringilla coelebs,Oiseaux,Fringillidae,8320,2015-10-04,10,4,2015,...,NaN,NaN,NaN,Bonne,0 – 33%,Absent,Absente,Pas de neige,NaN,Non
2403179,385,Troglodyte mignon,Troglodytes troglodytes,Oiseaux,Troglodytidae,5960,2015-10-04,10,4,2015,...,NaN,NaN,NaN,Bonne,0 – 33%,Absent,Absente,Pas de neige,NaN,Non
2403180,380,Sittelle torchepot,Sitta europaea,Oiseaux,Sittidae,7650,2015-10-04,10,4,2015,...,NaN,NaN,NaN,Bonne,0 – 33%,Absent,Absente,Pas de neige,NaN,Non
2403181,433,Fauvette à tête noire,Sylvia atricapilla,Oiseaux,Sylviidae,6940,2015-10-04,10,4,2015,...,NaN,NaN,NaN,Bonne,0 – 33%,Absent,Absente,Pas de neige,NaN,Non
2403182,370,Mésange charbonnière,Parus major,Oiseaux,Paridae,7600,2015-10-04,10,4,2015,...,NaN,NaN,NaN,Bonne,0 – 33%,Absent,Absente,Pas de neige,NaN,Non

In [13]:
dfToutBrut['Habitat principal 1'].unique()

array(['Forêt (arbres > 5m de hauteur)',
       'Buissons (ou jeune forêt < 5m de hauteur)', 'Milieux agricoles',
       'Milieux bâtis ou urbanisés', 'Pelouses, marais et landes',
       'Milieux aquatiques', 'Rochers terrestres ou côtiers'], dtype=object)